.text{
	font-family: arial;
	font-weight: 50px;
	margin-left: 50px;
	font-size: 30px;
	padding-bottom: 40px;
	margin-top: 40px
}
.flex{
	display: flex;
	font-family: arial;
	font-weight: 200px;
	text-align: center;
}
.box{
	height: 200px;
	width: 150px;
	margin-left: 50px
}
img{
	height: 150px;
	padding-bottom: 10px
}
.red{
	color: red
}
h3{
	margin: 0px
}